<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Description</key>
	<dict>
		<key>Creator</key>
		<string>Original Adium dock icon file by ysdog (aka sdh)</string>
		<key>Creator 2</key>
		<string>Original icon by JonasRask (www.jonasraskdesign.com)</string>
		<key>Creator 3</key>
		<string>Conversion to Adium icon and modifications by dr.vox.</string>
		<key>JonasRask URL</key>
		<string>http://www.jonasraskdesign.com/</string>
		<key>Title</key>
		<string>Remixed iChat</string>
		<key>dr.vox URL</key>
		<string>http://arctictransfuse.deviantart.com/</string>
		<key>ydsog URL</key>
		<string>http://ydsog.deviantart.com/</string>
	</dict>
	<key>State</key>
	<dict>
		<key>Alert</key>
		<dict>
			<key>Animated</key>
			<true/>
			<key>Delay</key>
			<real>0.070000000000000007</real>
			<key>Images</key>
			<array>
				<string>alert.png</string>
				<string>alert2.png</string>
				<string>alert3.png</string>
				<string>alert4.png</string>
				<string>alert5.png</string>
				<string>alert6.png</string>
				<string>alert7.png</string>
				<string>alert8.png</string>
				<string>alert9.png</string>
				<string>alert10.png</string>
				<string>alert11.png</string>
				<string>alert12.png</string>
				<string>alert13.png</string>
				<string>alert14.png</string>
				<string>alert15.png</string>
				<string>alert16.png</string>
				<string>alert17.png</string>
				<string>alert18.png</string>
				<string>alert19.png</string>
				<string>alert20.png</string>
				<string>alert21.png</string>
				<string>alert22.png</string>
				<string>alert23.png</string>
				<string>alert24.png</string>
				<string>alert25.png</string>
				<string>alert26.png</string>
				<string>alert27.png</string>
				<string>alert28.png</string>
				<string>alert29.png</string>
				<string>alert30.png</string>
				<string>alert30.png</string>
				<string>alert30.png</string>
				<string>alert30.png</string>
				<string>alert30.png</string>
				<string>alert29.png</string>
				<string>alert28.png</string>
				<string>alert27.png</string>
				<string>alert26.png</string>
				<string>alert25.png</string>
				<string>alert24.png</string>
				<string>alert23.png</string>
				<string>alert22.png</string>
				<string>alert21.png</string>
				<string>alert20.png</string>
				<string>alert19.png</string>
				<string>alert18.png</string>
				<string>alert17.png</string>
				<string>alert16.png</string>
				<string>alert15.png</string>
				<string>alert14.png</string>
				<string>alert13.png</string>
				<string>alert12.png</string>
				<string>alert11.png</string>
				<string>alert10.png</string>
				<string>alert9.png</string>
				<string>alert8.png</string>
				<string>alert7.png</string>
				<string>alert6.png</string>
				<string>alert5.png</string>
				<string>alert4.png</string>
				<string>alert3.png</string>
				<string>alert2.png</string>
				<string>alert.png</string>
			</array>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Away</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>away.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Base</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>asleep.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Connecting</key>
		<dict>
			<key>Animated</key>
			<true/>
			<key>Delay</key>
			<real>0.20000000000000001</real>
			<key>Images</key>
			<array>
				<string>asleep.png</string>
				<string>connecting.png</string>
				<string>connecting2.png</string>
				<string>connecting3.png</string>
				<string>connecting4.png</string>
				<string>connecting4.png</string>
				<string>connecting3.png</string>
				<string>connecting2.png</string>
				<string>connecting.png</string>
				<string>asleep.png</string>
			</array>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Idle</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>away.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Online</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>awake.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
		<key>Preview</key>
		<dict>
			<key>Animated</key>
			<false/>
			<key>Image</key>
			<string>awake.png</string>
			<key>Overlay</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
